@font-face {
    font-family: Caesar;
    src: url("../fonts/CaesarDressing-Regular.ttf");
  }

  h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 80%;
    text-align: right;
    margin-right: 1%;
    margin-top: 1%;
    color: #ffffff;
  }

  #home {
    padding: 0 10% 0 10%;
  }

  .descricao {
    margin: auto;
    }

  .capitulo {
    margin: 40px 10%;
    border-top: 25px solid #720000;
    border-bottom: 25px solid #720000;
    border-radius: 15px;
    background-color: #720000;
    color: white;
    box-shadow: 5px 5px 5px rgb(100, 100, 100);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

  h2, h3 {
    padding: 0px;
  }

  p {
    padding: 0 2% 0 2%;
  }

  p::first-letter {
    font-family: Caesar;
    font-weight: bolder;
    font-size:x-large;
    padding-right: 0.3%;
    color: white;
  }

  h2 {
    color: white;
    text-align: center;
    font-size: xx-large;
  }

  h2, h3 {
    font-family: Caesar;
    margin-left: 5%;
    margin-right: 2%;
    padding-bottom: none;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
  }

  h5 {
    text-align: right;
    margin-right: 2%;
    color: white;
    font-style: italic;
    font-size: 0.6rem;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-left: 17%;
    background-image: url("../medias/bg_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: justify;
  }

  PC {
    color: rgb(94, 94, 0);
  }

  PP {
    color: rgb(141, 141, 141);
  }

  PO {
    color: gold;
  }

  PD {
    color:lightskyblue;
  }

  PC, PP, PO, PD {
    font-weight: bold;
  }

  .navbar {
    background-color: #720000;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 15%;
    min-width: 177px;
    height: 100%;
    text-align: center;
    font-family: Caesar, sans-serif, monospace;
  }

  .navbar a {
    float: left;
    font-size: 1em;
    color: white;
    text-align: center;
    padding: 4% 10%;
    text-decoration: none;
  }

  .navbar a:hover {
    background-color: #b80000
  }

  .subnav {
    background-color: #720000;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 6%;
    left: 0;
    width: 15%;
    min-width: 177px;
    height: 100%;
    text-align: center;
    font-family: Caesar, sans-serif, monospace;
  }

  .subnav a {
    float: left;
    font-size: 0.9em;
    color: white;
    text-align: center;
    padding: 0.5px 10%;
    text-decoration: none;
  }

  .subnav a:hover {
    background-color: #B80000
  }

  table {
    border: none;
    width: 96%;
    text-align: center;
    padding-bottom: 3%;
  }

  thead {
    border: none;
    color: white;
    background-color: #b80000;
  }

  td {
    margin: 5px;
    border: 1px solid white;
    text-align: justify;
    padding: 10px;
  }

  thead td {
    text-align: center;
  }

  button {
    padding: 12px;
    border-radius: 2px;
  }

  .box_habilidades {
    width: 96%;
  }

  .box_habilidades td::first-line {
    font-family: Caesar, sans-serif, monospace;
    font-size: x-large;
    color: white;
  }

  .box_habilidades td {
    border: 1px solid white;
    border-radius: 10px;
    padding: 28px 16px;
    width: 32%;
    text-align: justify;
}