@font-face {
    font-family: Caesar;
    src: url("../fonts/CaesarDressing-Regular.ttf");
  }
  
  h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 80%;
    text-align: right;
    margin-right: 1%;
    margin-top: 1%;
    color: #ffffff;
  }
  
  .descricao {
    margin: 30px 10%;
  }
  
  .capitulo {
    margin: 40px 10%;
    border-top: 25px solid white;
    border-bottom: 25px solid white;
    border-radius: 7px;
    background-color: white;
    box-shadow: 3px 3px 3px rgb(175, 175, 175);
  }
  
  h2, h3 {
    padding: 0px;
  }
  
  p {
    padding: 0 2% 0 2%;
  }
  
  p::first-letter {
    font-family: Caesar;
    font-weight: bolder;
    font-size:xx-large;
    padding-right: 0.2%;
    color: #720000;
  }
  
  h2 {
    color: #b80000;
    text-align: center;
    font-size: xx-large;
  }
  
  h2, h3 {
    font-family: Caesar;
    margin-left: 5%;
    margin-right: 2%;
    padding-bottom: none;
    text-shadow: 1px 1px 0px rgb(175, 175, 175);
  }
  
  h5 {
    text-align: right;
    margin-right: 5%;
    color: #b80000;
    font-style: italic;
    font-size: smaller;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-left: 17%;
    background-image: url("../medias/bg_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: justify;
  }
  
  PC {
    color: rgb(94, 94, 0);
  }
  
  PP {
    color: rgb(141, 141, 141);
  }
  
  PO {
    color: gold;
  }
  
  PD {
    color:lightskyblue;
  }
  
  PC, PP, PO, PD {
    font-weight: bold;
  }
  
  .navbar {
    background-color: #b80000;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 15%;
    min-width: 177px;
    height: 100%;
    text-align: center;
    font-family: Caesar, sans-serif, monospace;
  }
  
  .navbar a {
    float: left;
    font-size: 1em;
    color: white;
    text-align: center;
    padding: 4% 10%;
    text-decoration: none;
  }

  .navbar a:hover {
    background-color: #720000
  }
  
  .subnav {
    background-color: #b80000;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 6%;
    left: 0;
    width: 15%;
    min-width: 177px;
    height: 100%;
    text-align: center;
    font-family: Caesar, sans-serif, monospace;
  }
  
  .subnav a {
    float: left;
    font-size: 0.9em;
    color: white;
    text-align: center;
    padding: 1% 10%;
    text-decoration: none;
  }

  .subnav a:hover {
    background-color: #720000
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #720000;
    width: 100%;
    z-index: 1;
  }
  
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
  }
  
  .subnav-content a:hover {
    /* text-shadow: 1px 1px 0px darkgray; */
    color: yellow;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }
  
  table {
    border: none;
    width: 98%;
    text-align: center;
    padding-bottom: 3%;
  }
  
  thead {
    border: none;
    color: white;
    text-align: center;
    background-color: #b80000;
  }
  
  td {
    margin: 5px;
    box-shadow: 1px 1px 1px gray;
    text-align: justify;
    padding: 7px 5px;
  }
  
  button {
    padding: 12px;
    border-radius: 2px;
  }
  
  .box_habilidades {
    width: 96%;
  }

  .box_habilidades td::first-line {
    font-family: Caesar, sans-serif, monospace;
    font-size: x-large;
    color: #820000;
  }
    
  .box_habilidades td {
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px darkgray;
    border-radius: 5px;
    padding: 28px 16px;
    margin: 10px 10px;
    width: 32%;
    text-align: justify;
  }